extends layout
block content
    .container
        .row.bggrey 
            .col-md-10.col-sm-10.col-xs-12
                h2 Assessment & Support Planning Tools
                p P2f Project’s Assessment & Support planning tools are integral part of Referral Management System (RMS) that can identify Age Group: 11-17, Age Group: 18-35, inmate & Ex-Offender needs & risk. 
                p Assessment service which is part of referral management system (RMS) is designed for social service providers (NGO) to help the affirmative age groups & inmate gain control of their lives by developing trust, self-esteem & independent living skills, allowing them to improve the quality of their lives such as developing skills, “go back school scheme” or connect them back through to “family & friends reconciliation” program to succeed. 
                p Prevention & reformatory process demands to know the needs & risk in order to address the emotional, personality and disruptive/behavioural disorder of underprivileged person which are sometimes the underlying factors of the street crime activities. 
                p The key aim of the service is to provide long-term supported character building program, vocational training, skill acquisition, educational service and apprenticeship after a thorough assessment. Support is regularly reviewed with appropriate input of all support social service providers (NGO) involved in the care, support and management of underprivileged person.
                    