extends layout
block content
    .container
        .row.bggrey 
            .col-md-10.col-sm-10.col-xs-12
                h2 Reintegration Back to the Community Through CSR & NGOs 
                p Referral Management System send email alert to Service Providers 3/6/12 month prior to inmates’ release to get inmates prepared for “Supporting Housing Scheme” in the case inmate has no abode (When no abode, recidivism is inevitable). 
                p In total, this unique service on RMS platform reduces recidivism in our society today
       
                    