extends layout
block content
    .container
        .row.bggrey 
            .col-md-10.col-sm-10.col-xs-12
                h2 Sponsorship: CSR & NGOs Initiative & RMS
                p Referral Management System (RMS) provides a unique opportunity for organisations & NGOs to elevate their Corporate Social Responsibility profile. We have created supporting housing Scheme (SHS) platform, an integral part of RMS to encourage CSR to sponsor inmates / ex-offenders & youth crime prevention that have no abode. The sponsorship could last 3/6 / 12 months which is still part of reformation, rehabilitation & reintegration process (3/6/12 depends on the commissioner)
                p Referral Management System becomes the flagship of the inmates / ex-offenders & youth crime prevention for CSR & NGOs initiative, whereby if well informed would be “Sponsoring Inmates, Ex-Offenders and Youth Crime Prevention Projects / State/ LGA”. This is a business relevant, high impact opportunity for multi-nationals, corporate organisation CSR & NGOs; all these are inclusive in the system
                p Our Sponsors (CSR & NGOs) would have an opportunity to make a meaningful impact in lives of aspiring inmates, ex-offenders and youth crime prevention project in a measurable and relevant way.
                p CSR & NGOs sponsorship can have access to Referral Management System (RMS) User’s Portal to track the progress of their sponsored Clients
       
                    