extends layout

block content
    .container.bggrey
        .row
            .col-sm-12
                h2 Get in Touch
                p 12A Olanrewaju Ninalowo Crescent, Lekki Phase 1, Lagos 
                p Tel: +234 (0) 813 456 2426 or +234 (0) 909 471 2292
                p Email: dpath2freedom@gmail.com, thecandidatesprojects@gmail.com




        //- form(method='post', action='contact/send')
        //-     h1 Contact
        //-     .form-group
        //-         label Name
        //-         input.form-control(type='text', name='name', placeholder='Enter Name')
        //-     .form-group
        //-         label Email
        //-         input.form-control(type='text', name='email', placeholder= 'Enter Email')
        //-     .form-group
        //-         label Message
        //-         textarea.form-control( name='message', placeholder= 'Enter Message')
        //-     button.btn.btn-primary(type='submit') Submit