extends layout
block content
    .container
        .row.bggrey 
            .col-md-10.col-sm-10.col-xs-12
                h2 Diversity & Equality
                p Diversity & equality underpins all our service. Pathway 2freedom Projects is committed to meeting the diverse needs of the underprivileged person. We are committed to equality of opportunity. We want to learn from peoples’ difference to improve how we work together, plan the service & deliver service that underprivileged required. We acknowledge that individual is unique and recognizing individual differences such as culture, ability, gender, tribe, religion or any other individual characteristic in accordance with our legislation.
                p We are aware that all must be treated fairly and access opportunities equally regardless of their individual ability, gender, tribe, religion. In our service, we include all people from different political zone / tribes and recognize that we are one. Our policies &   procedures shape the way we serve Underprivileged People
