extends layout
block content
    .container
        .row.bggrey 
            .col-md-10.col-sm-10.col-xs-12
                h2 Donation statement
                p P2f Projects, a Social service provider database,  is registered …………… non-profit corporation that depends upon support from the communities and organizations it serves. Keeping it updated, relevant, and timely is a tall order, and we need all the help we can get: We’re deeply grateful for your support.Thank you for your support.