extends layout

block content
    .container.bggrey 

        .row
               
            .col-md-4
                img.imgClass(src="/images/workshop10.JPG" responsive alt="baking workshop")  
            .col-md-4
                img.imgClass(src="/images/workshop11.JPG" responsive alt="baking workshop")
            .col-md-4
                img.imgClass(src="/images/workshop12.JPG" resonsive alt="baking workshop")

    .container.bggrey 

        .row
               
            .col-md-4
                img.imgClass(src="/images/greeting1.JPG" responsive alt="baking workshop")  
            .col-md-4
                img.imgClass(src="/images/greeting2.JPG" responsive alt="baking workshop")
            .col-md-4
                img.imgClass(src="/images/greeting3.JPG" resonsive alt="baking workshop")
    .container.bggrey 
        .row
               
            .col-md-4
                img.imgClass(src="/images/greeting4.JPG" responsive alt="baking workshop")  
            .col-md-4
                img.imgClass(src="/images/greeting5.JPG" responsive alt="baking workshop")
            .col-md-4
                img.imgClass(src="/images/greeting6.JPG" resonsive alt="baking workshop") 
    .container.bggrey     
        .row
               
            .col-md-4
                img.imgClass(src="/images/greeting7.JPG" responsive alt="baking workshop")  
            .col-md-4
                img.imgClass(src="/images/greeting8.JPG" responsive alt="baking workshop")
            .col-md-4
                img.imgClass(src="/images/greeting9.JPG" resonsive alt="baking workshop") 

    .container.bggrey      
        .row
               
            .col-md-4
                img.imgClass(src="/images/greeting10.JPG" responsive alt="baking workshop")  
            .col-md-4
                img.imgClass(src="/images/greeting11.JPG" responsive alt="baking workshop")
            .col-md-4
                img.imgClass(src="/images/greeting12.JPG" resonsive alt="baking workshop")
    .container.bggrey 
        .row
               
            .col-md-4
                img.imgClass(src="/images/greeting13.JPG" responsive alt="baking workshop")  
            .col-md-4
                img.imgClass(src="/images/workshop2.JPG" responsive alt="baking workshop")
            .col-md-4
                img.imgClass(src="/images/workshop3.JPG" resonsive alt="baking workshop") 
    .container.bggrey 
        .row

            .col-md-4
                img.imgClass(src="/images/tcpng1.jpg" responsive alt="baking workshop") 

  
 
 
  
 