extends layout

block content
  .container.bggrey 
    .jumbotron
      .container
        .col-sm-12.col-xs-12
          h1 The Candidates’ Project
          h4 Inmate, Ex-Offender, Youth Crime Prevention Service
          h4.text_red Assessment – Support Plan – Safety Planning – Linkwork Sessions – Review – Move on
          p We build infrastructures that reduces the impact of joblessness & social disadvantage that leads to re-offending
            br
            a.btn.btn-danger.btn-lg(href="/about") You can learn more here


    .container
      .row
        .col-md-5.col-xs-12
          h4 MISSION
          p To Add Value to Undepriviledge People's life, In Achieving Their Goals & Living Appropriately          

      
        .col-md-5.col-xs-12
          h4 VISSION
          ul
            li Creating Opportunity for Underpriviledged’, Successful Rehabilitation, Resettlememt and Reintegrate back to Society.
            li Resettlement & Reintegrate back to the Society.

     


  
            
     
         