extends layout

block content
  .container.bggrey 
    .jumbotron
      .container
        .col-sm-12.col-xs-12
          h1 The Candidates’ Project
          h4 Inmate, Ex-Offender, Youth Crime Prevention Service
          h4.text_red Assessment – Support Plan – Safety Planning – Linkwork Sessions – Review – Move on
          p We build infrastructures that reduces the impact of joblessness & social disadvantage that leads to re-offending
            br
            a.btn.btn-danger.btn-lg(href="/about") You can learn more here


    .container
      .row
        .col-md-5.col-xs-12
          h2 MISSION
          p To Add Value to Clients’ Life, In Achieving Their Goals & Living Appropriately          

      
        .col-md-5.col-xs-12
          h2 VISSION
          ul
            li Creating Opportunities For Clients’ Successful Rehabilitation
            li Resettlement & Reintegrate back to the Society.

      .row 
        .col-md-10.col-xs-12
          h2 MONITORING & EVALUATION
          p We have developed a monitoring and evaluation tools that would help the trainers measuring and assessing the programmes activity and results. The purpose of using our well designed tools is to check on the progress of implementation and outputs methodically. The tools record trainers perspective, what has worked well, what has not worked well, what needs to stay same and what needs to change. These tools will help us determine who is doing well among the occupants in the house and when changes may be needed.
      .row
        .col-md-10.col-xs-12 
          h2 Core & Additional Assessment 
          p Our assessment tools accurately identify needs & risk of offenders & underprivileged. We recognize that assessment can be a daunting experience for some inmates and ex-offenders. But needs and risk assessment helps identify the person your CSR is supporting that we, (TCP) are serving. 
          p Needs and risk are used to determine the need for specialized treatment program such as antisocial behaviour, violent & aggression, substance & alcohol abuse, mental health and cognitive skill building before proceed to skills acquisition, vocational training and WAEC to higher education. 




    .container   

      .row
        .col-sm-12
          h2 Who Are We
          p We are The Candidates’ Project; we are committed to reducing the impact of joblessness and social disadvantage that leads to offending / re-offending. We design and build a specialist supported housing project (Half Way Home), vocational training, skills acquisition, apprenticeship, & educational service that would meet the wide range of inmates, ex-offender and youth crime prevention (Youth Crime Prevention Project) needs.
          a.btn.btn-primary(href="/about") Deatils
      .row
        .col-sm-12
          h2 Our Aims & Objectives
          p Reformatory process demands to know the needs & risk in order to address the emotional, personality and behaviour disorder of prisoners which are sometimes the underlying factors in their crime activities. The key aim of the service is to provide long-term supported vocational training, apprenticeship, skill acquisition and educational service under The Candidates’ Project. 
          a.btn.btn-primary(href="/about") Details 
            
      .row
        .col-sm-12
          h2 Get in Touch
          p 12A Olanrewaju Ninalowo Crescent, Lekki Phase 1, Lagos 
          p Tel: +234 (0) 813 456 2426 or +234 (0) 909 471 2292
          p Email: dpath2freedom@gmail.com
          a.btn.btn-primary(href="/contact") Deatils