extends layout

block content
  .container.bggrey 
    .jumbotron
      .container
        .col-sm-12.col-xs-12
          h1 The Candidates’ Project
          h4 Inmate, Ex-Offender, Youth Crime Prevention Service
          h4.text_red Assessment – Support Plan – Safety Planning – Linkwork Sessions – Review – Move on
          p We build infrastructures that reduces the impact of joblessness & social disadvantage that leads to re-offending
            br
            a.btn.btn-danger.btn-lg(href="/about") You can learn more here


    .container
      .row.textCenter
        .col-md-12.col-xs-12
          h5.textUnder MISSION
          p To Add Value to Undepriviledge People's life. In Achieving Their Goals & Living Appropriately          

      .row.textCenter
        .col-md-12.col-xs-12
          h5.textUnder VISION
          p Creating Opportunity for Underpriviledged, Successful Rehabilitation, Resettlement & Reintegrate back to the Society.

     


  
            
     
         