extends layout
block content
    .container
        .row.bggrey 
            .col-md-10.col-sm-10.col-xs-12
                h2 Pathway2Freedom Project
                h3 Center for Prevention of Crime & Intervention for Underprivileged
                h4.center Bringing Dignity, Hope & Fairness to Underprivileged Person & their Community

                p Logo: P2f Projects: Serving Individual to Become a Wealthy Nation
                p help them (underprivileged & social service provider). This service covers the entire political zones / state and their local government (LGA)
                p P2f Projects is the connection point for specific information that enables people to connect with most appropriate social service providers (NGO) to meet their needs (sate/LGA)

                