extends layout
block content
    .container
        .row.bggrey 
            .col-md-10.col-sm-10.col-xs-12
                h2 Referral Management System Application
                h3-center (Managing & Supporting Inmates, Ex-Offenders & Youth Crime Prevention)


                ul 
                    li Identifies reason for anti-social behaviour
                    li Identifies needs & risk
                    li Diverts crime to useful pursuits, making crime unattractive
                    li Reformation, Rehabilitation & Reintegration back to community
                    li Creating short term accommodation/half way home for ex-offenders and Youth Crime Prevention Projects
                    li Managing Supported Housing Scheme which involved the property and occupants who are undergoing transformation. (we take into consideration Data Protection & Confidentiality)
                    li Building long term vocational & skill acquisition program within 
                    li Creating Support work file which include Risk Assessment, Risk Management & Support Plan
                    li Keeping basic record for those who are yet to be arraigned and those pending / appeal cases. And keep basic record of lawyers & record of the cases for references.
                    li Creating an environment that “link-working” with inmates, ex-offenders & youth crime prevention projects for total stability
                p The Referral Management System (RMS) is a system developed to hold information about inmates, ex-offenders & youth crime prevention projects. It will hold personal & development information about Culprits, who are awaiting trial, Convicted, who are going through Reformation and those seeking to Reintegrate back to their community & prevent Youth from committing further Crime. The system is designed for social service enterprise such as managing & supporting inmates, ex-offenders & youth crime prevention to improve their lives and reintegrate them back to the society
                p RMS as an application (Platform) holds clients, training and personal development of those who have gone through core & additional assessment. The system is designed to reducing the impact of joblessness and social disadvantage that leads to offending / re-offending in our society today. 
                p As an integral part of the referral Management system, it supports to provide a specialist supported housing scheme (Half-Way-Home), to take part in vocational training, skills acquisition, apprenticeship, & educational service, to meet wide range of needs in life. This part of the system house them for an extra (3) three months to (1) one year to ascertain stability in the process & procedures of reintegrating them back to the society

                p The philosophy of building assessment infrastructure in RMS is that treatment, reformation and rehabilitation of the offenders & underprivileged on the street (youth with no home) be achieved through carefully well-designed and articulated Assessment & Support Planning tools. 
                p The inbuilt assessment tools is where we develop a picture of what the offender / youth crime prevention needs and wants from the service providers; what risks affect the safety of the public; and whether the service is appropriate for the inmates, ex-offender or youth crime prevention. 
                p All the services has been embedded as a holistic system to provide individually tailored “Support Plan & Risk Assessment” named pathway2success tools ® to help identify needs and risk toward supporting clients who are low, medium & high for support. 
                p Our assessment approach includes detailed exploration of support and safety issues across a wide range of themes, then bringing issues together in a summary format. Inmates, ex-offenders or youth crime prevention are fully involved in their assessment of their support needs, and are invited to identify their priorities for support in the summary ‘My Support Assessment’ which are – Core Assessment, Additional Assessment, Support Plan (goals), Safety Planning, Linkwork Sessions, Review & Move On 
                