extends layout
block content
    .container
        .row.bggrey 
            .col-md-10.col-sm-10.col-xs-12
                h2 Who Are We
                p Environment that would make social service providers succeed in bringing dignity, hope & fairness for those who are underprivileged. We have built an infrastructure that reduces the impact of joblessness & social disadvantage that leads to offending & re-offending through referral management system (RMS). We hold all the social service providers on one DATABASE named RMS across the nation.
                p We are committed to help meet the basic human needs and particular attention to the needs and empowerment of people who are vulnerable and living in abject poverty, by providing a repository for information about the social service providers either by government, private, profit and non-profit organizations and how to access the service through a referral management system (RMS).
                p We have well-designed individual tailored Support Plans & Risk Assessment tools that works for both prevention & intervention cases. We provide a specialist Supported Housing & Half way Home Scheme (temp accommodation) for Age Group: 11-17 Underprivileged, Age Group: 18-35 Underprivileged & inmate within a frame work of diversity, equal opportunities, anti-discrimination and respect. Our Core Values, as well as our Policies and Procedures, Emphasise the importance of EMPOWERMENT using our ASSESSMENT tools to identify needs, risk & manage underprivileged.
                h4 Mission:
                p Adding Value to Clients’ Life, In Achieving Purpose
                h4 Vision:
                p Successful, Resettlement & Reintegration
      