extends layout
block content
    .container
        .row.bggrey 
            .col-md-10.col-sm-10.col-xs-12
                h2 36 State / All LGA (also in Political Zones Level)
                p The Youth Crime Prevention part of the DB is in LGA clusters. Each state is aligned with all its local government council. The DB contains: Assessment tools to assess needs / risk, which, if well addressed properly will make re-offending unattractive. 
              