extends layout

block content
    .container.bggrey 
        .row
            .col-md-10.col-xs-12
                 
                h4 Recent / Ongoing Project at Kirikiri
                p In 2016 we undertook a project at Max Nigeria Correctional Service at Kirikiri Apapa. We are currently working in conjunction with Bread of Life by HOL &amp; Honeywell Flour Mills, providing training to inmates as chief bakers. In less than a year,<strong> The Candidates’ Project </strong>have trained 15 inmates as trained bakers, working for Bread of Life (Bakery situated in correctional center) and earning wages and another 15 inmates just graduated as trainee bakers. 
                p We are aware that all must be treated fairly and access opportunities equally regardless of their individual ability, gender, tribe and religion. In our service we include all people from different political zone / tribes and recognize that we are one (Number of Unity). Our policies &amp; procedures shape the way we serve Inmates or ex-offender. After we have identified needs &amp; risk &amp; draw out support &amp; safety planning, The Candidates’ Project works with experts in training industry to deliver the best service to our clients.
            .col-md-4
                img.imgClass(src="/images/workshop4.JPG" responsive alt="baking workshop")  
            .col-md-4
                img.imgClass(src="/images/workshop5.JPG" responsive alt="baking workshop")
            .col-md-4
                img.imgClass(src="/images/workshop6.JPG" resonsive alt="baking workshop")  
             
        
        .container
            .row
                .col-md-10.col-xs-12
                p Bread of Life Baking School by HOL.  Built with infrastructure to train & manage inmates by The Candidates’ Project in partnership with Honeywell Flour Mills PLC (Instructor Brega Fabusuyi of Honeywell). HOL & Honeywell had trained 30 inmates 2019 as bakers. Currently working with Bread of Life bakery situated at Max Kirikiri Correctional Center, earning money (Stipend) on monthly basis and 15 inmates are serving as trainees <br>

        .container
            
            .row
               
                .col-md-4
                    img.imgClass(src="/images/workshop7.JPG" responsive alt="baking workshop")  
                .col-md-4
                    img.imgClass(src="/images/workshop8.JPG" responsive alt="baking workshop")
                .col-md-4
                    img.imgClass(src="/images/workshop9.JPG" resonsive alt="baking workshop") 