extends layout
block content
    .container
        .row.bggrey 
            .col-md-10.col-sm-10.col-xs-12
                h2 Who is this service for?
                p It’s a service for underprivileged. A social service provider that supports underprivileged people, Age Group: 11-17 “on the street” & Age Group: 18-35 “that are jobless”. The Age Group: 11-17 “on the street” are bridged with their individual parents if possible. An in-depth assessment will be carried out to identify needs and risk surrounding reasons for being on the street. 
                p The Age Group: 18-35 that are jobless will be assessed to identify their needs & risk. It is through the assessment that low, medium & high support cases will be identified
                p Through the use of our assessment tools, social service providers allows an individual parent or sponsor identified by the service to involve in the process to meet their needs and help avert the risk if it’s manageable.
                p And as social service enterprise, part of our role is to provide choice and high quality persons driven care and support, and neighbourhood services and products to all the social service providers within political zones / state / LGA
                    